<div class="gioi-thieu">
    <h1 class="text-center">
        Quy định mới về thanh toán Bảo hiểm Y tế năm 2019


    </h1>
    <div class="container">
        <strong>Các trường hợp thanh toán trực tiếp</strong>
        <br /> <br /> Công văn số 141/BHXH-CSYT có 3 trường hợp được thanh toán trực tiếp, cụ thể: Trường hợp chủ thẻ bảo hiểm y tế (BHYT) khám chữa bệnh tại cơ sở không ký hợp đồng khám chữa bệnh BHYT; Cấp cứu; khám chữa bệnh ngoại trú, nội trú tại cơ
        sở khám chữa bệnh tuyến huyện và tương đương; khám chữa bệnh nội trú tại cơ sở khám chữa bệnh tuyến tỉnh và tương đương; khám chữa bệnh nội trú tại cơ sở khám chữa bệnh tuyến trung ương và tương đương.
        <br /> <br />Trường hợp chủ thẻ BHYT khám chữa bệnh tại nơi đăng ký khám chữa bệnh ban đầu ghi trên thẻ BHYT trình thủ tục khám chữa bệnh BHYT không đúng quy định.
        <br /> <br />Trường hợp chủ thẻ BHYT có chi phí cùng chi trả trong năm (kể từ ngày tham gia BHYT đủ 5 năm liên tục) của các đợt đi khám chữa bệnh đúng tuyến vượt quá 6 tháng lương cơ sở nhưng chưa được hưởng quyền lợi ngay tại cơ sở khám chữa
        bệnh. Các trường hợp khác được theo hướng dẫn của Bộ Y tế.
        <br /> <br />
        <strong>Hồ sơ đề nghị thanh toán trực tiếp</strong>
        <br /> <br /> Công văn số 141/BHXH-CSYT nêu rõ, Hồ sơ đề nghị thanh toán để được thanh toán BHYT gồm các giấy tờ là bản chụp (kèm theo bản gốc để đối chiếu) gồm: Thẻ bảo hiểm y tế, giấy chứng minh nhân thân hoặc các giấy tờ tùy thân có ảnh khác...;
        Giấy ra viện, phiếu khám bệnh hoặc sổ khám bệnh của lần khám bệnh, chữa bệnh đề nghị thanh toán; Hóa đơn và các chứng từ có liên quan; Giấy ủy quyền hoặc giấy tờ xác nhận quyền đại diện hợp pháp cho người bệnh đối với người thanh toán hộ.
        <br /> <br /> Mức thanh toán trực tiếp
        <br /> <br /> Về mức thanh toán BHYT trực tiếp, Công văn số 141/BHXH-CSYT hướng dẫn cụ thể các trường hợp cụ thể như sau:
        <br /> <br /> - Trường hợp khám chữa bệnh tại cơ sở khám chữa bệnh không ký hợp đồng khám chữa bệnh BHYT: khám chữa bệnh trong trường hợp cấp cứu: thanh toán theo chi phí thực tế trong phạm vi hưởng và mức hưởng BHYT theo quy định.
        <br /> <br /> - Trường hợp khám chữa bệnh tại cơ sở khám chữa bệnh tuyến huyện và tương đương: thanh toán theo chi phí thực tế trong phạm vi hưởng và mức hưởng BHYT theo quy định nhưng tối đa không quá 0,15 lần mức lương cơ sở tại thời điểm khám
        chữa bệnh đối với khám chữa bệnh ngoại trú và tối đa không quá 0,5 lần mức lương cơ sở tại thời điểm ra viện đối với khám chữa bệnh nội trú.
        <br /> <br /> - Khám chữa bệnh nội trú tại cơ sở khám chữa bệnh tuyến tỉnh và tương đương: thanh toán theo chi phí thực tế trong phạm vi hưởng và mức hưởng BHYT theo quy định nhưng tối đa không quá 1,0 lần mức lương cơ sở tại thời điểm ra viện.
    </div>
</div>