<div class="du-doan">
    <div class="title">
        <h1>Dự Đoán</h1>
    </div>
    <div class="tinh-tang" style="margin-left: 44%;">
        <button (click)="runProgram()" type="button" class="btn btn-success">Chạy chương trình</button>

    </div>
    <div class="lds-spinner" *ngIf="runningx">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="container" *ngIf="running">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Age</th>
                    <th>Sex</th>
                    <th>BMI</th>
                    <th>Children</th>
                    <th>Smoker</th>
                    <th>Region</th>
                    <th>Expenses</th>
                    <th>Guess</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>578</td>
                    <td>52</td>
                    <td>1</td>
                    <td>30.2</td>
                    <td>1</td>
                    <td>0</td>
                    <td>3</td>
                    <td>13809.12</td>
                    <td>14799.415106</td>
                </tr>
                <tr>
                    <td>610</td>
                    <td>47</td>
                    <td>0</td>
                    <td>29.4</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>12460.68</td>
                    <td>13293.100596</td>
                </tr>
                <tr>
                    <td>569</td>
                    <td>48</td>
                    <td>1</td>
                    <td>40.6</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>43315.45</td>
                    <td>42277.686597</td>
                </tr>
                <tr>
                    <td>1034</td>
                    <td>61</td>
                    <td>1</td>
                    <td>38.4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>22678.29</td>
                    <td>20081.452528</td>
                </tr>
                <tr>
                    <td>198</td>
                    <td>51</td>
                    <td>0</td>
                    <td>18.1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>9583.75</td>
                    <td>10372.310201</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>18</td>
                    <td>0</td>
                    <td>26.3</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>3530.51</td>
                    <td>4775.823205</td>
                </tr>
                <tr>
                    <td>1256</td>
                    <td>51</td>
                    <td>0</td>
                    <td>36.4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>1</td>
                    <td>17076.59</td>
                    <td>18041.866042</td>
                </tr>
                <tr>
                    <td>1219</td>
                    <td>38</td>
                    <td>0</td>
                    <td>30.2</td>
                    <td>3</td>
                    <td>0</td>
                    <td>1</td>
                    <td>9984.99</td>
                    <td>11220.390484</td>
                </tr>
                <tr>
                    <td>1320</td>
                    <td>31</td>
                    <td>1</td>
                    <td>31.1</td>
                    <td>3</td>
                    <td>0</td>
                    <td>1</td>
                    <td>11435.04</td>
                    <td>12527.600570</td>
                </tr>
                <tr>
                    <td>613</td>
                    <td>34</td>
                    <td>0</td>
                    <td>19.0</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                    <td>7221.70</td>
                    <td>8033.741866</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>