<div class="du-doan">
    <div class="title">
        <h1>Dự Đoán</h1>
    </div>
    <div class="container">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Age</th>
                    <th>Sex</th>
                    <th>BMI</th>
                    <th>Children</th>
                    <th>Smoker</th>
                    <th>Region</th>
                    <th>Expenses</th>
                    <th>Guess</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>578</td>
                    <td>52</td>
                    <td>1</td>
                    <td>30.2</td>
                    <td>1</td>
                    <td>0</td>
                    <td>3</td>
                    <td>13809.12</td>
                    <td>14799.415106</td>
                </tr>
                <tr>
                    <td>610</td>
                    <td>47</td>
                    <td>0</td>
                    <td>29.4</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>12460.68</td>
                    <td>13293.100596</td>
                </tr>
                <tr>
                    <td>569</td>
                    <td>48</td>
                    <td>1</td>
                    <td>40.6</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>43315.45</td>
                    <td>42277.686597</td>
                </tr>
                <tr>
                    <td>1034</td>
                    <td>61</td>
                    <td>1</td>
                    <td>38.4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>22678.29</td>
                    <td>20081.452528</td>
                </tr>
                <tr>
                    <td>569</td>
                    <td>48</td>
                    <td>1</td>
                    <td>40.6</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>43315.45</td>
                    <td>42277.686597</td>
                </tr>
                <tr>
                    <td>569</td>
                    <td>48</td>
                    <td>1</td>
                    <td>40.6</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>43315.45</td>
                    <td>42277.686597</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>