<div id="slider">
    <figure>
        <img src="assets/img/timm.png">
        <img src="assets/img/slide-img1.jpg">
        <img src="assets/img/slide-img2.jpg">
    </figure>
</div>

<ul class="nav" style="text-align: center; padding-left: 420px;">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Trang chủ</a></li>
    <li><a routerLink="/gioi-thieu" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Giới thiệu</a></li>
    <li><a routerLink="/quy-dinh-moi" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Quy định</a></li>
    <li><a routerLink="/thanh-toan" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Thanh toán</a></li>
    <li><a routerLink="/du-doan" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Dự đoán</a></li>
    <li><a routerLink="/bieu-do" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Biểu đồ</a></li>
</ul>


<div>
    <router-outlet></router-outlet>
</div>

<footer class="footer text-right">
    <div class="container">
        <span class="text-footer">Nguyễn Thị Đài Trang.</span>
    </div>
</footer>