<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    #slider {
        overflow: hidden;
    }
    
    #slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite;
    }
    
    #slider figure img {
        width: 20%;
        float: left;
        height: 50%;
    }
    
    @keyframes slider {
        0% {
            left: 0;
        }
        20% {
            left: 0;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        /* 75% {
                left: -300%;
            }
            95% {
                left: -300%;
            } */
        /* 100% {
                left: -400%;
            } */
    }
    
    section {
        display: block;
        margin-top: 50px;
    }
    
    picture {
        width: 360px;
        height: 400px;
    }
    
    .tl p {
        position: absolute;
        background: #fff;
        color: #000;
        width: auto;
        text-align: center;
        font-weight: 600;
        padding: 10px 70px 10px 15px;
        z-index: 9;
        top: 15px;
        right: -30px;
        margin: 0;
        transition: .3s right ease;
    }
    
    img {
        border: 0;
        max-width: 100%;
        height: auto;
    }
    
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .tl picture img {
        width: 300px;
        height: auto;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .tl picture:hover img {
        transform: scale(1.05);
    }
    
    .nav {
        border: 1px solid #ccc;
        border-width: 1px 0;
        list-style: none;
        margin: 0;
        padding: 0 0 0 420px;
        text-align: center;
        font-size: 15px;
    }
    
    .nav li {
        display: inline-block;
    }
    
    .nav a {
        display: inline-block;
        padding: 10px;
        font-family: Calibri, sans-serif;
        font-weight: bold;
    }
    
    a {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
    }
    
    a:hover {
        color: #FF7600;
    }
</style>



<div id="slider">
    <figure>
        <img src="assets/img/timm.png">
        <img src="assets/img/slide-img1.jpg" alt="">
        <img src="assets/img/slide-img2.jpg" alt="">
    </figure>
</div>

<ul class="nav" style="text-align: center;">
    <li><a routerLink="/">Trang chủ</a></li>
    <li><a href="/about/">Giới thiệu</a></li>
    <li><a href="/work/">Quy định</a></li>
    <li><a href="/clients/">Thanh toán</a></li>
    <li><a href="/contact/">Dự đoán</a></li>
    <li><a href="/contact/">Biểu đồ</a></li>
</ul>


<section class="cate-pro" style="top: 50px; background-color:LightGray;">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <a href="phong-khach" class="tl" title="Giới thiệu về bảo hiểm y tế và các lợi ích khi mua bảo hiểm y tế">

                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_1.jpg?1591000405648">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_1.jpg?1591000405648">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_1.jpg?1591000405648">
                        <source media="(min-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/368/970/themes/740033/assets/bn_cate_1.jpg?1591000405648"> -->
                        <img alt="Phòng Khách" src="/assets/img/suc-khoe.jpg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <a href="phong-ngu" class="tl" title="Các quy định về bảo hiểm y tế">
                    <!-- <p class="ttt">
                        Phòng Ngủ
                        <span>Xem sản phẩm</span>
                    </p> -->
                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648"> -->
                        <img alt="Phòng Ngủ" src="/assets/img/tuyen-sinh.jpeg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="phong-bep" class="tl" title="Qui định mới về thanh toán bảo hiểm">
                    <!-- <p class="ttt">
                        Phòng Bếp
                        <span>Xem sản phẩm</span>
                    </p> -->
                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648"> -->
                        <img alt="Phòng Bếp" src="/assets/img/tim.jpg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
        </div>

        <div class="row" style="top: 50px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center; top: 50px;">
                <a href="phong-ngu" class="tl" title="Dự đoán giá bảo hiểm y tế">
                    <!-- <p class="ttt">
                        Phòng Ngủ
                        <span>Xem sản phẩm</span>
                    </p> -->
                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648"> -->
                        <img alt="Phòng Ngủ" src="/assets/img/du-doan.jpg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center; top: 50px;">
                <a href="phong-bep" class="tl" title="Biểu đồ từ dữ liệu">
                    <!-- <p class="ttt">
                        Phòng Bếp
                        <span>Xem sản phẩm</span>
                    </p> -->
                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648"> -->
                        <img alt="Phòng Bếp" src="/assets/img/bieu-do.jpg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- <footer class="main-footer" style="top: 500px;">
    <strong>Copyright &copy; 2014-2018 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.0-alpha
    </div>
</footer> -->
<!-- <div class="cuoi-trang">
    <strong>Copyright &copy; 2014-2018 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</div> -->