<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="lazyload" src="/assets/img/1223.PNG">
        </div>
        <div class="col-sm-6">
            <img class="lazyload" src="/assets/img/2234.PNG">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img class="lazyload" src="/assets/img/123456778.PNG">
        </div>
        <div class="col-sm-6">
            <img class="lazyload" src="/assets/img/Capture123455.PNG">
        </div>
    </div>
</div>