<div class="gioi-thieu">
    <h1 class="text-center">
        Lợi ích khi tham gia Bảo hiểm y tế
    </h1>
    <div class="container">
        Bảo hiểm Y tế (BHYT) là một chính sách xã hội do Nhà nước tổ chức thực hiện, nhằm huy động sự đóng góp của cộng đồng, chia sẻ rủi ro bệnh tật và giảm bớt gánh nặng tài chính nặng của mỗi người khi ốm đau, bệnh tật, tạo nguồn tài chính hỗ trợ cho hoạt
        động y tế, thực hiện công bằng và nhân đạo trong lĩnh vực bảo vệ và chăm sóc sức khỏe nhân dân. Nhiều người nhờ vào BHYT mà vượt qua được giai đoạn khó khăn khi điều trị bệnh. <br /> <br/>Theo quy định hiện hành, người tham gia BHYT có
        những quyền lợi sau: <br /> <br/> - Tất cả trẻ em dưới 6 tuổi, những người trong diện hộ nghèo được cấp thẻ BHYT miễn phí; Nhà nước hỗ trợ 100% mức đóng phí BHYT đối với người thuộc hộ cận nghèo đang sinh sống tại các huyện nghèo và các huyện
        có tỷ lệ hộ nghèo cao; Nhà nước hỗ trợ tối thiểu 70% phí BHYT cho người thuộc hộ cận nghèo; UBND tỉnh/thành phố có thể hỗ trợ mức đóng phí BHYT cho người cận nghèo của địa phương từ 10 - 30%...<br/> <br/> - Người có thẻ BHYT khi đi khám chữa bệnh
        được Quỹ BHYT trả toàn bộ hoặc một phần tiền khám, chữa bệnh (tỷ lệ chi trả phụ thuộc vào việc chữa bệnh đúng tuyến hay trái tuyến); được cán bộ có chuyên môn y tế khám bệnh, chữa bệnh; được chuyển đến bệnh viện tuyến trên khi bệnh nặng.<br/>        <br/> - Trường hợp người có thẻ đang điều trị tại cơ sở khám chữa bệnh nhưng thẻ BHYT hết hạn thì Quỹ BHYT thanh toán chi phí khám bệnh, chữa bệnh trong phạm vi quyền lợi và mức hưởng theo chế độ quy định cho đến khi ra viện hoặc hết đợt điều
        trị ngoại trú. <br/> <br/>- Theo Thông tư 39/2018/TT-BYT do Bộ Y tế ban hành, người tham gia BHYT từ 5 năm liên tục trở lên, nếu khám chữa bệnh đúng tuyến và số tiền đồng chi trả trong năm lớn hơn 6 tháng lương cơ sở thì người bệnh tập hợp chứng
        từ đồng chi trả gửi cơ quan BHXH để được cấp giấy miễn đồng chi trả cho những lần sau trong năm. <br/> <br/>- Các dịch vụ và chi phí y tế được Quỹ BHYT chi trả gồm có khám bệnh, chữa bệnh, phục hồi chức năng; khám thai định kỳ; sinh con; thuốc,
        hóa chất, vật tư, thiết bị y tế, dịch vụ kỹ thuật y tế trong danh mục của Bộ Y tế.
    </div>
</div>