<!-- <section class="cate-pro" style="bottom: 500px;">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <a routerLink="/gioi-thieu" class="tl" title="Giới thiệu về bảo hiểm y tế và các lợi ích khi mua bảo hiểm y tế">

                    <picture>
                        
                        <img class="image" alt="Phòng Khách" src="/assets/img/suc-khoe.jpg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <a routerLink="/quy-dinh-moi" class="tl" title="Các quy định về bảo hiểm y tế">
                    
                    <picture>
                        
                        <img class="image" alt="Phòng Ngủ" src="/assets/img/tuyen-sinh.jpeg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a routerLink="/quy-dinh-moi" class="tl" title="Qui định mới về thanh toán bảo hiểm">
                    
                    <picture>
                        
                        <img class="image" alt="Phòng Bếp" src="/assets/img/tim.jpg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
        </div>

        <div class="row" style="top: 50px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center; top: 50px;">
                <a routerLink="/du-doan" class="tl" title="Dự đoán giá bảo hiểm y tế">
                    
                    <picture>
                       
                        <img class="image" alt="Phòng Ngủ" src="/assets/img/du-doan.jpg" style="width: 300px; height: 333px; margin-left: 150px;">
                    </picture>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center; top: 50px;">
                <a routerLink="/bieu-do" class="tl" title="Biểu đồ từ dữ liệu">
                    
                    <picture>
                        
                        <img class="image" alt="Phòng Bếp" src="/assets/img/bieu-do.jpg" style="width: 300px; height: 333px; margin-left: 40px;">
                    </picture>
                </a>
            </div>
        </div>
    </div>
</section>
 -->


<section class="latest-blog">
    <div class="container">

        <div class="row x">

            <div class="col-xs-12 col-sm-6 col-md-4 item_bl_index">
                <div class="blog_inner">
                    <div class="blog-img blog-l">

                        <a routerLink="/index/gioi-thieu" title="Không gian nội thất đẹp với chất liệu gỗ cao cấp">
                            <img class="lazyload" src="/assets/img/suc-khoe.jpg" data-src="//bizweb.dktcdn.net/thumb/large/100/368/970/articles/noi-that-go-phong-an-nha-bep-650x339.jpg?v=1574743950557" alt="Không gian nội thất đẹp với chất liệu gỗ cao cấp">
                        </a>


                    </div>
                    <h3><a routerLink="/index/gioi-thieu" title="Không gian nội thất đẹp với chất liệu gỗ cao cấp">Giới Thiệu Về BHYT</a> </h3>
                    <p class="justify line-3"> Khi đi khám bệnh, chữa bệnh phải xuất trình thẻ Bảo hiểm y tế (BHYT) còn giá trị sử dụng và giấy tờ tùy thân có ảnh hợp lệ.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 item_bl_index">
                <div class="blog_inner">
                    <div class="blog-img blog-l">

                        <a routerLink="/index/thanh-toan" title="Tân trang phòng ngủ đẹp với nội thất cao cấp dịp cuối năm">
                            <img class="lazyload" src="/assets/img/tuyen-sinh.jpeg" alt="Tân trang phòng ngủ đẹp với nội thất cao cấp dịp cuối năm" style="width: 328px; height: 219px;">
                        </a>


                    </div>
                    <h3><a routerLink="/index/quy-dinh-moi" title="Tân trang phòng ngủ đẹp với nội thất cao cấp dịp cuối năm">Quy Định Về BHYT</a> </h3>
                    <p class="justify line-3"> Quy định về Bảo hiểm y tế đối với Doanh nghiệp và người lao động như: Đối tượng tham gia BHYT, mức tiền lương đóng BHYT, Tỷ lệ đóng đối với DN và ...</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 item_bl_index">
                <div class="blog_inner">
                    <div class="blog-img blog-l">

                        <a href="/phong-thay-do-closet-trong-nha-khong-gian-song-nen-co-cua-phu-nu-hien-dai" title="Phòng thay đồ (Closet) trong nhà – Không gian sống nên có của phụ nữ hiện đại">
                            <img class="lazyload" src="/assets/img/tim.jpg" alt="Phòng thay đồ (Closet) trong nhà – Không gian sống nên có của phụ nữ hiện đại">
                        </a>


                    </div>
                    <h3><a routerLink="/index/thanh-toan">Quy Định Mới Về Thanh Toán BH</a> </h3>
                    <p class="justify line-3"> Công văn số 141/BHXH-CSYT có 3 trường hợp được thanh toán trực tiếp, cụ thể: Trường hợp chủ thẻ bảo hiểm y tế (BHYT) khám chữa bệnh tại ...</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 item_bl_index" style="margin-top: 30px;">
                <div class="blog_inner">
                    <div class="blog-img blog-l">

                        <a href="/thiet-ke-phong-khach-tinh-te-va-sang-trong" title="Thiết kế phòng khách tinh tế và sang trọng">
                            <img class="lazyload" src="/assets/img/du-doan.jpg" style="width: 328px; height: 219px;" alt="Thiết kế phòng khách tinh tế và sang trọng">
                        </a>


                    </div>
                    <h3><a routerLink="/index/du-doan" title="Thiết kế phòng khách tinh tế và sang trọng">Dự Đoán Giá BHYT</a> </h3>
                    <p class="justify line-3"> Kết quả dự đoán giá BHYT...</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 item_bl_index" style="margin-top: 30px;">
                <div class="blog_inner">
                    <div class="blog-img blog-l">

                        <a href="/noi-that-phong-khach-nhap-khau-duoc-ua-chuong-trong-2019" title="Nội thất phòng khách nhập khẩu được ưa chuộng trong 2019">
                            <img class="lazyload" src="/assets/img/bieu-do.jpg" alt="Nội thất phòng khách nhập khẩu được ưa chuộng trong 2019" style="width: 328px; height: 219px;">
                        </a>


                    </div>
                    <h3><a routerLink="/index/bieu-do" title="Nội thất phòng khách nhập khẩu được ưa chuộng trong 2019">Biểu Đồ Từ Dữ Liệu</a> </h3>
                    <p class="justify line-3"> Xây dựng biểu đồ từ dữ liệu...</p>
                </div>
            </div>




        </div>


    </div>
</section>