<section class="cate-pro">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <a routerLink="/gioi-thieu" class="tl" title="Giới thiệu về bảo hiểm y tế và các lợi ích khi mua bảo hiểm y tế">

                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_1.jpg?1591000405648">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_1.jpg?1591000405648">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_1.jpg?1591000405648">
                        <source media="(min-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/368/970/themes/740033/assets/bn_cate_1.jpg?1591000405648"> -->
                        <img alt="Phòng Khách" src="/assets/img/suc-khoe.jpg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <a routerLink="/quy-dinh-moi" class="tl" title="Các quy định về bảo hiểm y tế">
                    <!-- <p class="ttt">
                        Phòng Ngủ
                        <span>Xem sản phẩm</span>
                    </p> -->
                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648"> -->
                        <img alt="Phòng Ngủ" src="/assets/img/tuyen-sinh.jpeg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a routerLink="/quy-dinh-moi" class="tl" title="Qui định mới về thanh toán bảo hiểm">
                    <!-- <p class="ttt">
                        Phòng Bếp
                        <span>Xem sản phẩm</span>
                    </p> -->
                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648"> -->
                        <img alt="Phòng Bếp" src="/assets/img/tim.jpg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
        </div>

        <div class="row" style="top: 50px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center; top: 50px;">
                <a routerLink="/du-doan" class="tl" title="Dự đoán giá bảo hiểm y tế">
                    <!-- <p class="ttt">
                        Phòng Ngủ
                        <span>Xem sản phẩm</span>
                    </p> -->
                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648">
                        <source media="(min-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/368/970/themes/740033/assets/bn_cate_2.jpg?1591000405648"> -->
                        <img alt="Phòng Ngủ" src="/assets/img/du-doan.jpg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center; top: 50px;">
                <a routerLink="/bieu-do" class="tl" title="Biểu đồ từ dữ liệu">
                    <!-- <p class="ttt">
                        Phòng Bếp
                        <span>Xem sản phẩm</span>
                    </p> -->
                    <picture>
                        <!-- <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648">
                        <source media="(min-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/368/970/themes/740033/assets/bn_cate_3.jpg?1591000405648"> -->
                        <img alt="Phòng Bếp" src="/assets/img/bieu-do.jpg" style="width: 300px; height: 333px;">
                    </picture>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- <footer class="main-footer" style="top: 500px;">
    <strong>Copyright &copy; 2014-2018 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.0-alpha
    </div>
</footer> -->
<!-- <div class="cuoi-trang">
    <strong>Copyright &copy; 2014-2018 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</div> -->