<div class="gioi-thieu">
    <h1 class="text-center">
        BHYT bắt buộc: Những điều cần biết khi khám chữa bệnh bằng thẻ BHYT


    </h1>
    <div class="container">
        <strong>I. Điều kiện hưởng </strong><br /> <br /> 1. Khi đi khám bệnh, chữa bệnh phải xuất trình thẻ Bảo hiểm y tế (BHYT) còn giá trị sử dụng và giấy tờ tùy thân có ảnh hợp lệ. Đối với trẻ em dưới 6 tuổi chỉ xuất trình thẻ BHYT còn giá trị sử
        dụng.
        <br /> <br /> 2. Trường hợp cấp cứu: Được tiếp nhận tại bất kỳ cơ sở khám, chữa bệnh (KCB) nào và phải xuất trình thẻ BHYT cùng với giấy tùy thân chứng minh nhân thân hợp lệ trước khi ra viện. Trong quá trình điều trị phát hiện và phải điều trị
        một số bệnh thì điều trị tại nơi cơ sở KCB được tính đúng tuyến.
        <br /> <br /> 3. Trường hợp chuyển tuyến điều trị: Được chuyển tuyến chuyên môn kỹ thuật theo quy định trong trường hợp cơ sở KCB BHYT vượt quá khả năng điều trị hoặc các dịch vụ kỹ thuật đơn vị không triển khai thực hiện. Người bệnh phải xuất
        trình thẻ Bảo hiểm y tế (BHYT) còn giá trị sử dụng và giấy tờ tùy thân có ảnh hợp lệ và giấy chuyển viện của cơ sở KCB chuyển tuyến.
        <br /> <br /> 4. Trường hợp thanh toán chi phí vận chuyển người bệnh: Đối tượng là" sĩ quan hạ sĩ quan, người làm công tác cơ yếu..; Người có công với cách mạng; Thân nhân người có công với cách mạng( cha đẻ, mẹ đẻ, con, người có công nuôi dưỡng
        liệt sĩ); Trẻ em dưới 6 tuổi; Người thuộc diện bảo trợ bảo trợ hàng tháng;" thì được quỹ BHYT thanh toán chi phí vận chuyển 2 chiều trong trường hợp chuyển tuyến kỹ thuật.
        <br /> <br /> 5. Trường hợp khám lại: theo yêu cầu điều trị: Người tham gia BHYT phải có giấy hẹn khám lại của cơ sở KCB. Giấy hẹn khám lại chỉ sử dụng cho 1 lần thực hiện khám chữa bệnh.
        <br /> <br />
        <strong>II.   Mức hưởng</strong>
        <br /> <br /> 1. Thanh toán tại các bệnh viện, cơ sở KCB BHYT:
        <br /> <br /> 1.1. KCB đúng quy định
        <br /> <br /> Người tham gia đi KCB có xuất trình thẻ BHYT , giấy tờ tùy thân chứng minh hợp lệ tại cơ sở KCB ban đầu hoặc cơ sở KCB BHYT khác có giấy chuyển viện được thanh toán như sau:
        <br /> <br /> a. Sử dụng dịch vụ khám bệnh, chữa bệnh (KCB) thông thường:
        <br /> <br /> - 100% chi phí KCB đối với đối tượng: Sĩ quan, hạ sĩ quan nghiệp vụ và sĩ quan, hạ sĩ quan; Người có công cách mạng; Trẻ em dưới 6 tuổi; chi phí KCB đối với trường hợp chi phí cho một lần KCB thấp hơn 15% mức lương cơ sở (lương tối
        thiểu chung) và KCB tại tuyến xã; Người thuộc diện hưởng trợ cấp bảo trợ xã hội hàng tháng; Người thuộc hộ gia đình nghèo; người dân tộc thiểu số đang sinh sống tại vùng có điều kiện kinh tế khó khăn, đặc biệt khó khăn.
        <br /> <br /> - 95% chi phí KCB đối với đối tượng: Người đang hưởng lương hưu, trợ cấp mất sức lao động hàng tháng; Người thuộc hộ gia đình cận nghèo; Thân nhân người có công với cách mạng.
        <br /> <br /> - 80% chi phí KCB đối với các đối tượng khác.
        <br /> <br /> b. Khi sử dụng dịch vụ kỹ thuật cao, chi phí lớn được thanh toán như sau:
        <br /> <br /> - 100% chi phí KCB không giới hạn tỷ lệ thanh toán đối với: Trẻ em dưới 6 tuổi; Người hoạt động cách mạng trước 1945; người hoạt động cách mạng từ 01/01/1945 đến trước 19/8/1945; Bà mẹ VN anh hùng; Thương binh, người hưởng chính
        sách như thương binh, thương binh loại B, bệnh binh khi điều trị vết thương, thương tật tái phát.
        <br /> <br /> - 100% chi phí đối với: Sĩ quan, hạ sĩ quan nghiệp vụ và sĩ quan, hạ sĩ quan chuyên môn kỹ thuật đang công tác trong lực lượng CAND nhưng không vượt quá 40 tháng lương cơ sở (lương tối thiểu chung) cho một lần sử dụng dịch vụ kỹ
        thuật. Phần còn lại do cơ quan, đơn vị quản lý đối tượng chi trả.
        <br /> <br /> - 100% chi phí đối với: Người có công với cách mạng nhưng không vượt quá 40 tháng lương cơ sở (lương tối thiểu chung) cho một lần sử dụng dịch vụ kỹ thuật quy định tại thông tư liên tịch số 41/2014/TTLT/BYT-BTC.
        <br /> <br /> - 95% chi phí đối với: Người hưởng lương hưu, trợ cấp BHXH hàng tháng; Thân nhân người có công với cách mạng trừ nhóm đối tượng quy định điểm i khoản 3, điều 12 Luật BHXH số 46/2014; Người thuộc hộ gia đình cận nghèo.
        <br /> <br /> - 80% chi phí dành cho đối tượng và nhóm đối tượng khác.
        <br /> <br /> 1.2. KCB không đúng cơ sở đăng ký KCB ban đầu hoặc không theo tuyến chuyên môn kỹ thuật (trừ trường hợp cấp cứu) được thanh toán như sau:
        <br /> <br /> - 60% chi phí đối với trường hợp KCB tại cơ sở KCB tuyến tỉnh;
        <br /> <br /> - 40% chi phí đối với trường hợp KCB tại cơ sở KCB trực thuộc Trung Ương.
        <br /> <br /> 1.3. Giá trị sử dụng thẻ:
        <br /> <br /> - Đối với người tham gia là lần đầu, gián đoạn thời gian tham gia BHYT liên tục từ 3 tháng trở lên thẻ có hiệu lực sau 30 ngày kể từ ngày đóng tiền.
        <br /> <br />- Đối với người tham gia liên tục, gia hạn thẻ, gián đoạn tối đa không quá 3 tháng thì thẻ có hiệu lực từ ngày đóng tiền BHYT cho đơn vị ,đại lý thu..
        <br /> <br /> 2. Thanh toán trực tiếp chi phí KCB BHYT tại cơ quan BHXH:
        <br /> <br /> - KCB tại cơ sở y tế không ký hợp đồng KCB BHYT; đi KCB tại cơ sở y tế có ký hợp đồng KCB BHYT nhưng không đủ thủ tục KCB: Người bệnh tự thanh toán chi phí KCB với cơ sở y tế, sau đó mang chứng từ đến cơ quan BHXH để thanh toán.
        Căn cứ dịch vụ kỹ thuật mà người bệnh được cung cấp, tuyến chuyên môn kỹ thuật của cơ sở y tế và chứng từ hợp lệ, cơ quan BHXH thanh toán cho người bệnh chi phí thực tế nhưng tối đa không vượt quá mức quy định tại Phụ lục kèm theo Thông tư liên
        tịch 37/2015/TTLT-BYT-BTC
        <br /> <br /> Xem thêm hướng dẫn tại: https://baohiemxahoidientu.vn/bhxh/kham-benh-chua-benh-khong-co-the-bhyt.html
        <br /> <br /> - Mức tiền cụ thể thanh toán trực tiếp theo quy định tại phụ lục Thông tư liên tịch 37/2015/TTLT-BYT-BTC của liên Bộ Y tế – Bộ Tài chính về:
        <br /> <br /> + Giá dịch vụ khám chữa bệnh
        <br /> <br /> + Giá dịch vụ ngày giường bệnh
        <br /> <br /> + Giá dịch vụ kỹ thuật và xét nghiệm
        <br /> <br /> Tải phụ lục chi tiết Thông thư 37/2015/TTLT-BYT-BTC tại đây
        <br /> <br /> Lưu ý: Trường hợp đi KCB ở nước ngoài không được thanh toán chi phí KCB theo Điều 14 và Phụ lục 04 Thông tư liên tịch 41/2014/TTLT-BYT-BTC.
    </div>
</div>